*::after,
*::before,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  min-height: 100dvh;
  margin: 0 auto;
  border: 1px solid red;
}

main {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

.application-form {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 20px;
  gap: 20px;
}

.preview {
  border: 1px solid blue;
  padding: 20px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: bolder;
}

input {
  padding: 5px 10px;
  border: none;
  border-bottom: 2px solid black;
}
